<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<section id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5 col-lg-4 animated zoomIn">
        <form method="POST" action="" id="login_form">
          <div class="form-group mt-5 pt-5"> 
            <label for="admin_username">Username</label>
            <input class="form-control" type="text" id="admin_username" required ng-model="login_form.username" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="admin_password">Password</label>
            <input class="form-control" type="password" id="admin_password" required ng-model="login_form.password">
          </div>
          <div class="form-group">
              <!-- <div id="div-message" class="text-danger" align="center"></div> -->
            <a class="btn btn-primary col-sm-7 col-md-6 col-lg-5 col-lg mx-auto" id="login_submit" onclick="login()" >Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Button Mouseover and Mouseout  
    $('#login_submit').mouseover(function () {  
      $('#login_submit').css({
        "border-radius"       : "30px",
        "transition"          : "all .5s ease-in-out"
      });
    });
    $('#login_submit').mouseout(function () {
      $('#login_submit').css({
        "border-radius"       : "0px",
        "transition"          : "all .4s ease-in-out"
      });
    });
  });


    //  Check Cookie
    checksession();

    //  Enable "ENTER" keypress
    $("#admin_username, #admin_password, #login_submit").on('keypress', function (event) {
        if (event.which == 13) {
          login();
        }
      });

    //  Check cookie, if cookie is set then redirect to view page.
    function checksession() {
      $.ajax('function/admin/session.php', {
        type: "POST",
        statusCode: {
          404: function (response) {
           // do nothing
          }
        },
        success: function (data) {
          // If there is already set cookie, it will auto direct to view page
          location.replace('http://localhost/clinic/#/view');
        }
      });
    }

    function login() {
      var error = 0;
      var userId = $('#admin_username').val();
      var pass = $('#admin_password').val();
      
      if ( userId.replace(/\s/g, '') == "" || pass.replace(/\s/g, '') == "" ) {
        swal(
          "Empyt Field",
          "Fill up username and password",
          "error"
        )
      } else {
        $.ajax('function/admin/login.php', {
          type        :   "POST",
          data        :   { username : userId, password : pass },
          statusCode  :   {
            404 : function (response) {
              swal(
                "Invalid Input",
                "Username or Password not match",
                "error"
              )
            }
          },
          success : function (data) {
            swal(
              "Success",
              "Login Successful",
              "success",
            )
            location.replace('http://localhost/clinic/#/view');
          }
        });
      }
    }
</script>