<section id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5 col-lg-4 animated zoomIn">
        <form method="POST" action="" id="login_form">
          <div class="form-group mt-5 pt-5"> 
            <label for="admin_username">Username</label>
            <input class="form-control" type="text" id="email" required ng-model="login_form.username" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="admin_password">Password</label>
            <input class="form-control" type="password" id="pass" required ng-model="login_form.password">
          </div>
          <div class="form-group">
              <div id="div-message" class="text-danger" align="center"></div>

            <!-- tinangal ko yung href="#/view" dahil dapat mag success muna yung pag select sa db bago redirect sa view -->
            <a class="btn btn-primary col-sm-7 col-md-6 col-lg-5 col-lg mx-auto" id="login_submit" onclick="login()" >Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  // Button Mouseover and Mouseout  
  $(document).ready(function () {
    //para basahin agad yung taga check ng cookie
    checksession();

    //dito naman pwede yung "PRESS ENTER" para d na click yung login button
    $("#email, #pass, #login").on('keypress', function (event) {
        if (event.which == 13) {
          login();
        }
      });
    // dito taga check kung may cookie naka set pag meron reredirect nya doon sa view page kahit ilang
    // reload mo dito d na bubukas to lagi dederetso to sa view page hangat d ka nag lologout
  
    function checksession() {
      $.ajax('function/patients/session.php', {
        type: "POST",
        statusCode: {
          404: function (response) {
            //do nothing
          }
        },
        success: function (data) {
          // pag may nakita nang cookie dederetso sa viewpage
          location.replace('#/view');
        }
      });
    }



    $('#login_submit').mouseover(function () {  
      $('#login_submit').css({
        "border-radius"       : "30px",
        "transition"          : "all .5s ease-in-out"
      });
    });
    $('#login_submit').mouseout(function () {
      $('#login_submit').css({
        "border-radius"       : "0px",
        "transition"          : "all .4s ease-in-out"
      });
    });
  });


  function login() {
      var error = 0;
      var empid = $('#email').val();
      var pass = $('#pass').val();

      if (empid.replace(/\s/g, '') == "" || pass.replace(/\s/g, '') == "") {
        $('#div-message').empty().show().append("Incorrect Email and/or Password");

        setTimeout(function () {
          $('#div-message').empty().hide();
        }, 5000);
      }
      else {
        $.ajax('function/patients/auth.php', {
          type: "POST",
          data: { email: empid, password: pass },
          statusCode: {
            404: function (response) {
              $('#div-message').empty().show().append("Incorrect Employee ID and/or Password");

              setTimeout(function () {
                $('#div-message').empty().hide();
              }, 5000);
            }
          },
          success: function (data) {
            alert('Welcome');
            // window.location.href = 'loginLoader.html';
          }
        });
      }

    }
</script>