<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<section id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5 col-lg-4 animated zoomIn">
        <form method="POST" action="" id="login_form">
          <div class="form-group mt-5 pt-5"> 
            <label for="admin_username">Username</label>
            <input class="form-control" type="text" id="email" required ng-model="login_form.username" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="admin_password">Password</label>
            <input class="form-control" type="password" id="pass" required ng-model="login_form.password">
          </div>
          <div class="form-group">
              <!-- <div id="div-message" class="text-danger" align="center"></div> -->
            <a class="btn btn-primary col-sm-7 col-md-6 col-lg-5 col-lg mx-auto" id="login_submit" href='#/view' onclick="login()" >Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Button Mouseover and Mouseout  
    $('#login_submit').mouseover(function () {  
      $('#login_submit').css({
        "border-radius"       : "30px",
        "transition"          : "all .5s ease-in-out"
      });
    });
    $('#login_submit').mouseout(function () {
      $('#login_submit').css({
        "border-radius"       : "0px",
        "transition"          : "all .4s ease-in-out"
      });
    });
  });


    //  Check Cookie
    // checksession();

    //  Enable "ENTER" keypress
    // $("#email, #pass, #login").on('keypress', function (event) {
    //     if (event.which == 13) {
    //       login();
    //     }
    //   });

    //  Check cookie, if cookie is set then redirect to view page.
    // function checksession() {
    //   $.ajax('function/patients/session.php', {
    //     type: "POST",
    //     statusCode: {
    //       404: function (response) {
    //         location.replace('http://localhost/clinic/#/view');

    //       }
    //     },
    //     success: function (data) {
    //       If there is already set cookie, it will auto direct to view page
    //       location.replace('http://localhost/clinic/#/view');
    //     }
    //   });
    // }


    // function login() {
    //   var error = 0;
    //   var empid = $('#email').val();
    //   var pass = $('#pass').val();

    //   if (empid.replace(/\s/g, '') == "" || pass.replace(/\s/g, '') == "") {
    //     $('#div-message').empty().show().append("Incorrect Email and/or Password");

    //     setTimeout(function () {
    //       $('#div-message').empty().hide();
    //     }, 5000);
    //   }
    //   else {
    //     $.ajax('function/patients/auth.php', {
    //       type: "POST",
    //       data: { email: empid, password: pass },
    //       statusCode: {
    //         404: function (response) {
    //           $('#div-message').empty().show().append("Incorrect Employee ID and/or Password");
                
    //           setTimeout(function () {
    //             $('#div-message').empty().hide();
    //           }, 5000);
    //         }
    //       },
    //       success: function (data) {
    //         alert('Welcome');
    //         location.replace('http://localhost/clinic/#/view');
    //       }
    //     });
    //   }
    // }
</script>